/* Текс та заголовки */
.navigation_sidebar button {
    display:block;
}

h2, h3, h4 {
    margin-top:20px;
    margin-bottom:0px;
}

h1 {color:crimson;
    margin-top:0px;
    margin-bottom:20px;
    font-size:60px;}

h2 {color:orange;
    padding-top:20px;
    font-size:50px;}

h3 {padding-top:20px;
    font-size:25px;}

h4 {color:darkseagreen;
    padding-top:20px;
    font-size:30px;}

small {
    font-size: 50%;
    display: block;
    color: grey;
    text-align:right;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background:#D5D6DB;
}


.navigation_sidebar {
    height: 90%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0;
    left: 0;
    padding: 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    background-color: lightpink;
}

.navigation_sidebar a {
    display: block;
    color: crimson;
}


a {
    font-size: 20px;
}

a.navigation_sidebar:hover {
    color: white;
    font-size: 20px;
}


.hidden {
    visibility: hidden;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
}

/* For all images on your page */
img {
    display: inline-block;    /* Display in line */
    width: 150px;           /* Set your desired square size */
    height: 150px;          /* Must match width for squares */
    object-fit: cover;      /* Crop to maintain aspect ratio */
    margin: 5px;           /* Optional spacing between images */
    vertical-align: middle; /* Aligns images properly in line */
}

hr {
    border: 1px solid white;
}
