ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.tags {
    position:relative;
    bottom:0;
}
.tags::before {
    content: "Tags: ";
}

#container {
    display:flex;
}

#right {
    width:70%;
}

#left , .right {
    display: flex;
    flex-direction: column;
    width:30%;
}

#programming::after {
    content: "</>";
    position: absolute;
    right: 0;
    color: white;
    font-weight: bold;
}
